.news-article .news-list-image {
    flex: 0 0 39%;
    width: 39%;
}

.news-article .news-list-copy {
    flex: 1 1 59%;
    width: 59%;
}

.news-article .news-title {
    font-size: 28px !important;
}

@media (max-width: 800px) {
    .news-article .news-list-image,
    .news-article .news-list-copy {
        width: 100%;
    }
}
